.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4c2c82; /* Purple background */
    color: white;
}

.navbar-brand a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.navbar-links a, .logout-button {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.logout-button:hover, .navbar-links a:hover {
    text-decoration: underline;
}
